<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>servlets.Controller</servlet-class>
        <init-param>
          <param-name>username</param-name>
          <param-value>Klebson</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller.do</url-pattern>
    </servlet-mapping>
    
<!--    só foi modificar a ordem do mapeamento
    1º tag <servlet> do servlet que recebe a request
    2º tag <servlet-mapping> do servlet que recebe a request
    
3º fiz o mesmo para o servlet ControllerResponse
    seguindo a ordem
    <servlet>
    <servlet-mapping> ambos do ControllerResponse-->
        
    <servlet>
        <servlet-name>ControllerResponse</servlet-name>
        <servlet-class>servlets.ControllerResponse</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerResponse</servlet-name>
        <url-pattern>/ControllerResponse.do</url-pattern>
    </servlet-mapping>
    <!--    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>-->
    <welcome-file-list>
        <welcome-file>Controller.do</welcome-file>
    </welcome-file-list>
    
<!--    Outra possibilidade é configurar parâmetros para o contexto inteiro e não 
    apenas uma servlet específica. Podemos fazer isso com a tag <context-param>, 
    como abaixo:
        <context-param>
          <param-name>nome</param-name>
          <param-value>param</param-value>
        </context-param>
        E, no código Java de uma Servlet, por exemplo:
        String valor = getServletContext().getInitParameter("nome");
    http://www.caelum.com.br/apostila-java-web/apendice-topicos-da-servlet-api/#19-1-init-params-e-context-params
    
    -->
    
</web-app>
